name: Build & Publish iOS App

on:
  push:
    branches:
      - master  # ou main, selon ton repo
  workflow_dispatch:  # permet de lancer manuellement

jobs:
  build:
    name: Build Flutter iOS
    runs-on: macos-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.32.6"  # ta version Flutter

      - name: Install dependencies
        run: flutter pub get

      - name: Build iOS IPA
        run: flutter build ipa --release --no-codesign

      - name: Upload IPA to App Store
        uses: apple-actions/app-store-release@v1
        with:
          api-key-id: ${{ secrets.APP_STORE_KEY_ID }}
          api-issuer-id: ${{ secrets.APP_STORE_ISSUER_ID }}
          api-key-content: ${{ secrets.APP_STORE_API_KEY_P8 }}
          app-path: build/ios/ipa/*.ipa
          skip-bundle-id-validation: true

